header{
  background-color: grey;
}
.align-center{
  align-items: center;
}
.right{
  margin-left: auto;
}
@media screen and (max-width: $small){
  .small-center{
    margin: auto;
  }
}
footer{
  background-color: $gray-400;
  div{
    div{
      background-color: $gray-500;
    }
  }
}
//.btn--round{
//  @extend .btn;
//    border-radius: 5px;
//}
.bg{
  @each $name, $background-color in $variants-list {
    &--#{$name}{
      background-color: $background-color;
      border: solid 2px darken($background-color, 30%);
    }
  }
}
/*.btn--round{
  @mixin round--bouton() {
  }
  .mon-bouton{
    @include round--bouton(10);
  }
}*/